#agenda div{

    font-size: medium;
    display: inline-table;
    padding: 10px 250px 10px 250px;
    font-size: larger;
    

}


#divs div{

    display: inline-block;
    margin: 10px 70px 10px 70px;
    font-size: large;


}

footer{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #FF7D29;
    text-align: center;
}

header{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #FFBF78;
}

main{
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #FFEEA9;
    margin: 50px;
    text-align: center; 

}

body{
    background-color: #FFBF78;
}

img{
    padding: 50px 50px 50px 50px;
    width: 500px;
}

